{
    "extends": "nicjansma",
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        // Enabled over nicjansma
        "require-jsdoc": 1,

        // Disabled over nicjansma
        "strict": 0,
        "no-console": 0,
        "no-loop-func": 0,
        "no-underscore-dangle": 0,
        "no-process-exit": 0,
        "guard-for-in": 0,
    }
}
